<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
        <title>
            That's Me
        </title>
    </head>
    <body>
        <div class="center">
        <h1 style="color: #5e9ca0;
                    text-align: center;
                    font-size: 36px;">Murtaza Cyclewala</h1>
        <hr style = "border-top: 3px solid  #5e9ca0; 
                    border-radius: 5px;
                    width:100%;" >
                    <br><br>
        <h2 style="color: #2e6c80;
                    font-size: 30px;">Who I am?:</h2>
        <hr style = "border-top: 2px solid  #2e6c80;
                    width: 50%;" align="left" >
        <table align="center">
            <tr>
                <th colspan="2">
                    <h2 style="color: #2e6c80;
                                text-align: left;
                                font-size: 28px;">General Info:</h2>
                </th>
            </tr>
            <tr>
                <td style = "font-size: 18px;" >
                <p>My name is Murtaza Cyclewala. I was 
                born in Dubai, 2001. Aged 20, born 
                in 14 May 2001. I currently am student 
                in Parul University 2019-23. Trying out 
                different skills and understanding how 
                things really work in the technical sense.
                Not Clearly a photo-genic person. 
                Am a Computer entusiast from the beginning
                and really fell in love with coding starting 
                with "Java". 
                </td>
                <td rowspan="3">
                    <img src = "{{url_for('static',filename = 'Me.jpeg')}}">
                </td>
            </tr>
            <tr>
                <td>
                    <p style = "font-size: 18px;">
                        My Schooling </p>
                    <ol>
                        <li style = "font-size: 16px;">First School : Our Own High School, Dubai</li>
                        <li style = "font-size: 16px;">Second School : St. Mary's School, Gujarat</li>
                        <li style = "font-size: 16px;">College : Parul University, Gujarat</li>
                        <li style = "font-size: 16px;">Currently here, St. Petersburg</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <p style = "font-size: 18px;">
                    General Languages I am comfortable with: </p>
                    <ul>
                        <li style = "font-size: 16px;">Python</li>
                        <li style = "font-size: 16px;">Java</li>
                        <li style = "font-size: 16px;">C / C++</li>
                        <li style = "font-size: 16px;">MySQL</li>
                        <li style = "font-size: 16px;">English</li>
                    </ul>
                </td>
            </tr>
        </table>
        <footer>
            <p>Author: Murtaza Cyclewala<br>
            <a href="mailto:murtazacyclewala27@gmail.com">My E-mail</a> : 
            <a href="Linkedin.com/MurtazaCyclewala">My LinkedIn</a><br>
            Contact Info : +7 XXXXXXXXXX
            </p>
        </footer>
        </div>
    </body>
</html>
